@import "compass";

// 一直失敗引入..
//@import "~bootstrap/less/bootstrap";

$white: #ffffff;
$red: #ff0000;
$gray: #f0f0f0;

h1 {
	color: $red;
	font-size: 100px;
	@include border-radius(20px);
	background-color: black;
}

h2 {
	font-size: 80px;
}



// fuck! 只有tag不會被改名, class都會自動加上hash耶, 難怪都吃不到

/*
nav .navbar-brand___dwl-J {
  color: red;
}
*/
nav {
	background-color: blue;
	.navbar-brand {
		color: $white;
	}
}

:global .navbar-default {
  background-color: #0088d2;
}



:global .navbar-default {
  .navbar-nav {
    > li {
      > a {
        color: $white;
      } 
    }  
  }
}

// 只要有父類別為global, 則子項目都為global
// 如果子類別有特定要指定為local, 要下:local, 如下所示
/*
.test .sub-test___2Siym {
  background-color: red;
}
*/
:global .test {
	:local .sub-test {
		background-color: red;
	}
}

.navbar-fixed-top {
	border: 0
}